$break-small: 576px;
$break-medium: 991px;
$break-large: 1200px;

@media (max-width: $break-medium) 
{
    header 
    {
        #logo 
        {
            font-size: 4vw;
        }
        
        #slideshow
        {
            height: 42vw;

            .slide.active
            {
                figcaption
                {
                    width: 98%;
                    display: block;
                    text-align: left;
                }
            }
        }
    }

    #body-content #main #legend-body, 
    #body-content #main #station-infos 
    {
      position: relative;
      height: auto;
      flex-basis: 46%;
      margin: 2%;
      padding: 2%;
    }

    #station-infos address, 
    #station-infos span
    {
        font-size: 1em;
    }

    footer 
    {
        font-size: 0.9em;
        height: auto;
        position: relative;
    }

    .notification 
    {
        width: 50%;
    }
}

@media (max-width: $break-small) 
{
    header 
    {
        #slideshow
        {
            height: 58vw;
        }
    }

    .notification 
    {
        width: 96%;
    }

    #body-content #main #legend-body, 
    #body-content #main #station-infos 
    {
      flex-basis: 100%;
    }

    #reservation-body
    {
        position: fixed;
    }

    #close-reservation-panel
    {
        font-size: 2rem;
    }
}